<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Catalogo</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Catalogo.styles.css" asp-append-version="true" />

</head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow">
                <div class="container">
                    <a class="navbar-brand fw-bold" asp-controller="Catalogo" asp-action="Index">
                        🛒 Catálogo
                    </a>

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="menu">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-controller="Home" asp-action="Index">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-controller="Catalogo" asp-action="Index">Ver Catálogo</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn btn-primary btn-sm ms-lg-2 text-white" asp-controller="Catalogo" asp-action="Agregar">+ Agregar</a>
                        </li>
                    </ul>
                    </div>
                </div>
            </nav>
        </header>

        <div class="container mt-4">
            <main role="main">
                @RenderBody()
            </main>
        </div>

        <footer class="bg-dark text-white text-center py-3 mt-5">
            <small>© 2026 - Catálogo | Hecho con ASP.NET</small>
        </footer>

        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
